h1 {
  color: #e75480;
  text-align: center;
}

p.flashy {
  font-style: italic;
  color: blue;
}

p.best {
  color: blue;
  font-weight: bold;
  font-style: italic;
}

img {
  border-style: solid;
  border-color: blue;
  border-radius: 15px;
  margin-left: 435px;
}
body {
  margin: 14px;
  border: 4px pink;
  background-color: pink;
  /*border-color: pink;
}
