h1 {
  color: #e75480;
  text-align: center;
}

p.flashy {
  font-style: italic;
  color: blue;
}

p.best {
  color: blue;
  font-weight: bold;
  font-style: italic;
}

img {
  border-style: solid;
  border-color: blue;
  border-radius: 15px;
  max-width: 300px;
}
body {
  border: 4px pink;
  background-color: pink;
}

.imp {
  width: 300px;
  float: left;
  padding: 20px;
}
.div2 {
  color: blue;
  width: 300px;
  float: left;
  padding: 20px;
}

.div3 {
  color: blue;
  width: 300px;
  float: left;
  padding: 20px;
}
